{% extends 'base.html.twig' %}

{% block title %}Plante : {{plant.name}}{% endblock %}
{% block body %}
    <table class="table table-striped">
        <tr scope="col">
            <td>Nom de la plante : </td>
            <td>{{plant.name}}</td>
        </tr>
        <tr scope="col">
            <td>Nom latin : </td>
            <td>{{plant.latinName}}</td>
        </tr>
        <tr scope="col">
            <td>Chemin vers l'image : </td>
            <td>{{plant.picturePath}}</td>
        </tr>
        <tr scope="col">
            <td>Fréquence arrosage : </td>
            <td>{{plant.waterFrequency}}</td>
        </tr>

        {% for singleplantFamily in plant.plantFamily %}
            <tr scope="col">
                <td>Nom de la famille : </td>
                <td>{{singleplantFamily.name}}</td>
            </tr>
            <tr scope="col">
                <td>Code de la famille : </td>
                <td>{{singleplantFamily.code}}</td>
            </tr>
            <tr scope="col">
                <td>Description de la famille : </td>
                <td>{{singleplantFamily.description}}</td>
            </tr>
        {% endfor %}

        {% for preferedSunExposureType in plant.preferedSunExposureTypes %}
            <tr scope="col">
                <td width="25%">Efficacité de l'expo soleil : </td>
                <td width="25%">{{preferedSunExposureType.efficiency}}</td>
                <td width="50%">
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{preferedSunExposureType.efficiency}}%" aria-valuenow="{{preferedSunExposureType.efficiency}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>
        {% endfor %}

        {% for preferedSoilType in plant.preferedSoilTypes %}
            <tr scope="col">
                <td width="25%">Efficacité du type de terre : </td>
                <td width="25%">{{preferedSoilType.efficiency}}</td>
                <td width="50%">
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{preferedSoilType.efficiency}}%" aria-valuenow="{{preferedSoilType.efficiency}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>

            </tr>
        {% endfor %}
        {% for preferedFertilizerType in plant.preferedFertilizerTypes %}
            <tr scope="col">
                <td width="25%">Efficacité du type de compost : </td>
                <td width="25%">{{preferedFertilizerType.efficiency}}</td>
                <td width="50%">
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{preferedFertilizerType.efficiency}}%" aria-valuenow="{{preferedFertilizerType.efficiency}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>
            <tr scope="col">
                <td>Nb jours avant compost : </td>
                <td>{{preferedFertilizerType.nbDayBeforeFertilizing}}</td>
            </tr>
        {% endfor %}

        {% for lifeCycleStep in plant.lifeCycleSteps %}
            <tr scope="col">
                <td>Nom étape cycle de vie : </td>
                <td>{{lifeCycleStep.lifeCycleStep.name}}</td>
            </tr>

            <tr scope="col">
                <td>Code étape cycle de vie : </td>
                <td>{{lifeCycleStep.lifeCycleStep.code}}</td>
            </tr>
            <tr scope="col">
                <td>Description étape cycle de vie : </td>
                <td>{{lifeCycleStep.lifeCycleStep.description}}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}