{% extends 'base.html.twig' %}

{% block title %}Plante : {{plant.name}}{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="{{ asset('assets/images/plants/' ~ plant.picturePath) }}"style="max-width:100%;">
            </div>
            <div class="col-8">
                <table class="table table-striped">
                    <tr scope="col">
                        <td>Nom de la plante : </td>
                        <td>{{plant.name}}</td>
                        <td></td>
                    </tr>

                    <tr scope="col">
                        <td>Nom latin : </td>
                        <td>{{plant.latinName}}</td>
                        <td></td>
                    </tr>
                    <tr scope="col">
                        <td>Fréquence arrosage : </td>
                        <td>{{plant.waterFrequency}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Famille : </label>
                <p id="plantFamily">{{plant.plantFamily.name}}</p>
            </div>
            <div class="col-6">
                <label>Description : </label>
                <p id="plantFamilyDescription">{{plant.plantFamily.description}}</p>
            </div>
        </div>
        <br>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-sun-exposure-tab" data-toggle="tab" href="#nav-sun-exposure" role="tab" aria-controls="nav-sun-exposure" aria-selected="true">Exposition Solaire</a>
                <a class="nav-item nav-link" id="nav-soil-tab" data-toggle="tab" href="#nav-soil" role="tab" aria-controls="nav-soil" aria-selected="false">Types de Terre</a>
                <a class="nav-item nav-link" id="nav-fertilizer-tab" data-toggle="tab" href="#nav-fertilizer" role="tab" aria-controls="nav-fertilizer" aria-selected="false">Types d'Engrais</a>
                <a class="nav-item nav-link" id="nav-life-cycle-tab" data-toggle="tab" href="#nav-life-cycle" role="tab" aria-controls="nav-life-cycle" aria-selected="false">Cycle de vie</a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-sun-exposure" role="tabpanel" aria-labelledby="nav-sun-exposure-tab">
                {% for preferedSunExposureType in plant.preferedSunExposureTypes %}
                    <h5>{{ preferedSunExposureType.sunExposureType.name }}</h5>
                    <div>Efficacité: </div>
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar" role="progressbar"
                             style="width: {{ preferedSunExposureType.efficiency }}%"
                             aria-valuenow="{{ preferedSunExposureType.efficiency }}"
                             aria-valuemin="0" aria-valuemax="100">
                            <strong>{{ preferedSunExposureType.efficiency }}%</strong>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-soil" role="tabpanel" aria-labelledby="nav-soil-tab">
                {% for preferedSoilType in plant.preferedSoilTypes %}
                    <h5>{{ preferedSoilType.soilType.name }}</h5>
                    <div>Efficacité: </div>
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar" role="progressbar"
                             style="width: {{ preferedSoilType.efficiency }}%"
                             aria-valuenow="{{ preferedSoilType.efficiency }}"
                             aria-valuemin="0" aria-valuemax="100">
                            <strong>{{ preferedSoilType.efficiency }}%</strong>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-fertilizer" role="tabpanel" aria-labelledby="nav-fertilizer-tab">
                {% for preferedFertilizerType in plant.preferedFertilizerTypes %}
                    <h5>Engrais {{ preferedFertilizerType.fertilizer.name |lower }}</h5>
                    <div>Efficacité: </div>
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar" role="progressbar"
                             style="width: {{ preferedFertilizerType.efficiency }}%"
                             aria-valuenow="{{ preferedFertilizerType.efficiency }}"
                             aria-valuemin="0" aria-valuemax="100">
                            <strong>{{ preferedFertilizerType.efficiency }}%</strong>
                        </div>
                    </div>
                    <div>Nb jours avant compost : {{preferedFertilizerType.nbDayBeforeFertilizing}}</div>
                    <br>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-life-cycle" role="tabpanel" aria-labelledby="nav-life-cycle-tab">

                {% include 'plant/lifecycle_steps/progress_bar.html.twig' with {'plantLifeCycleSteps': plant.lifeCycleSteps} %}
                <hr>

                <div class="container-fluid" id="life-cycles">
                    {% for plantLifeCycleStep in plant.lifeCycleSteps %}
                        {% include 'plant/lifecycle_steps/color_card.html.twig' with {'plantLifeCycleStep': plantLifeCycleStep} %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}



{% block stylesheets %}
<style>
    #life-cycles {
        display: grid;
        grid-template-columns: repeat({{ plant.lifeCycleSteps |length }}, 1fr);
        grid-template-rows: repeat(1, auto);
        grid-gap: 5px;
    }
</style>
{% endblock %}