{% extends 'base.html.twig' %}

{% block title %}Plant Family : {{ family.name }}{% endblock %}
{% block body %}
    <div id='title'>Here are plants for the family : <b>{{ family.name }}</b> </div>
    <div id='description'>Description : <b>{{ family.description }}</b> </div>

    <table class="table table-striped">
        <th scope="col">Name</th>
        <th scope="col">Latin Name</th>
        <th scope="col">Water Frequency</th>
    {% for plant in plants %}
        <tr>
            <td><a href='/plant/{{plant.id}}'>{{plant.name}}</td>
            <td>{{plant.latinName}}</td>
            <td>{{plant.waterFrequency}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}