{% extends 'base.html.twig' %}

{% block title %}Plante : {{plant.name}}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <label>Nom de la plante :</label>
                <p id="plantName">{{plant.name}}</p>
            </div>
            <div class="col-3">
                <label>Nom latin :</label>
                <p id="latinPlantName" >{{plant.latinName}}</p>
            </div>
            <div class="col-3">
                <label>Chemin vers l'image :</label>
                <p id="img">{{plant.picturePath}}</p>
            </div>
            <div class="col-3">
                <label>Fréquence arrosage : </label>
                <p id="wateringFrequency">{{plant.waterFrequency}}</p>
            </div>
            <div class="col-6">
                <label>Famille : </label>
                <p id="plantFamily">{{plant.plantFamily.name}}</p>
            </div>
            <div class="col-6">
                <label>Description : </label>
                <p id="plantFamilyDescription">{{plant.plantFamily.description}}</p>
            </div>
        </div>
        <br>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-sun-exposure-tab" data-toggle="tab" href="#nav-sun-exposure" role="tab" aria-controls="nav-sun-exposure" aria-selected="true">Exposition Solaire</a>
                <a class="nav-item nav-link" id="nav-soil-tab" data-toggle="tab" href="#nav-soil" role="tab" aria-controls="nav-soil" aria-selected="false">Types de Terre</a>
                <a class="nav-item nav-link" id="nav-fertilizer-tab" data-toggle="tab" href="#nav-fertilizer" role="tab" aria-controls="nav-fertilizer" aria-selected="false">Types d'Engrais</a>
                <a class="nav-item nav-link" id="nav-life-cycle-tab" data-toggle="tab" href="#nav-life-cycle" role="tab" aria-controls="nav-life-cycle" aria-selected="false">Cycle de vie</a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-sun-exposure" role="tabpanel" aria-labelledby="nav-sun-exposure-tab">
                {% for preferedSunExposureType in plant.preferedSunExposureTypes %}
                    <h5>{{ preferedSunExposureType.sunExposureType.name }}</h5>
                    <div>Efficacité: </div>
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar" role="progressbar"
                             style="width: {{ preferedSunExposureType.efficiency }}%"
                             aria-valuenow="{{ preferedSunExposureType.efficiency }}"
                             aria-valuemin="0" aria-valuemax="100">
                            <strong>{{ preferedSunExposureType.efficiency }}%</strong>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-soil" role="tabpanel" aria-labelledby="nav-soil-tab">
                {% for preferedSoilType in plant.preferedSoilTypes %}
                    <h5>{{ preferedSoilType.soilType.name }}</h5>
                    <div>Efficacité: </div>
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar" role="progressbar"
                             style="width: {{ preferedSoilType.efficiency }}%"
                             aria-valuenow="{{ preferedSoilType.efficiency }}"
                             aria-valuemin="0" aria-valuemax="100">
                            <strong>{{ preferedSoilType.efficiency }}%</strong>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-fertilizer" role="tabpanel" aria-labelledby="nav-fertilizer-tab">
                {% for preferedFertilizerType in plant.preferedFertilizerTypes %}
                    <h5>Engrais {{ preferedFertilizerType.fertilizer.name |lower }}</h5>
                    <div>Efficacité: </div>
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar" role="progressbar"
                             style="width: {{ preferedFertilizerType.efficiency }}%"
                             aria-valuenow="{{ preferedFertilizerType.efficiency }}"
                             aria-valuemin="0" aria-valuemax="100">
                            <strong>{{ preferedFertilizerType.efficiency }}%</strong>
                        </div>
                    </div>
                    <div>Nb jours avant compost : {{preferedFertilizerType.nbDayBeforeFertilizing}}</div>
                    <br>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-life-cycle" role="tabpanel" aria-labelledby="nav-life-cycle-tab">
                {% set totalStepsDaysDuration = 0 %}

                <div class="o-merd"></div>

                {% for lifeCycleStep in plant.lifeCycleSteps %}
                    {% set totalStepsDaysDuration = totalStepsDaysDuration + lifeCycleStep.stepDaysDuration %}
                    <div>{{ dump(lifeCycleStep.stepDaysDuration) }}</div>
                    <h5>Nom étape cycle de vie : {{lifeCycleStep.lifeCycleStep.name}}</h5>
                    <div>Code étape cycle de vie : {{lifeCycleStep.lifeCycleStep.code}}</div>
                    <div>Description étape cycle de vie : {{lifeCycleStep.lifeCycleStep.description}}</div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

{% endblock %}