{% block body %}
    {{ form_start(addGarden) }}
        <div class="form-group">
            {{ form_row(addGarden.name, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-6">
                    {{ form_row(addGarden.latitude, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-6">
                    {{ form_row(addGarden.longitude, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-6">
                    {{ form_row(addGarden.height, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-6">
                    {{ form_row(addGarden.length, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_row(addGarden.country, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(addGarden.country, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="text-right">
            {{ form_row(addGarden.save, {'attr': {'class': 'btn btn-success'}}) }}
        </div>
        {{ form_rest(addGarden) }}
    {{ form_end(addGarden) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" role="modal-script">
        console.log('form add garden');
    </script>
{% endblock %}