{% extends 'base.html.twig' %}

{% block title %}Jardins : {{garden.name}}{% endblock %}
{% block body %}
    <div class="container-fluid backgroud" width="100%">
        <div class="row mt-4">
            <div class="garden-infos col-6">
                <div class="col-12 text-center">
                    <h3 class="title title-6">JARDIN {{garden.name | upper}} - INFOS</h3>
                    <table class="tab" >
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Latitude</th>
                                <th scope="col">Longitude</th>
                                <th scope="col">Longeur</th>
                                <th scope="col">Largeur</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{garden.name}}</td>
                                <td>{{garden.latitude}}</td>
                                <td>{{garden.longitude}}</td>
                                <td>{{garden.length}}</td>
                                <td>{{garden.height}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 text-center">
                    <a class="btn btn-success text-white add-plant-button" href="{{ path('add_plant') }}">Planter <span class="fas fa-seedling"></span></a>
                </div>
            </div>

            <div class="col-6 meteo">
                <div class="col-12 text-center">
                    <h3 class="title title-6">{{ "Météo Actuelle" | upper }}</h3>
                    <table  class="tab" >
                        <thead>
                            <tr>
                                <th scope="col">Température</th>
                                <th scope="col">Météo</th>
                                <th scope="col">Pluie 1h</th>
                                <th scope="col">Pluie 3h</th>
                                <th scope="col">Humidité</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ currentWeather['current_temperature'] }}°C</td>
                                <td align="center">
                                    {% if currentWeather['weather_description'] == "overcast clouds" %}
                                        <i class="fas fa-cloud"></i>
                                        <br>Nuageux
                                    {% endif %}
                                    {% if currentWeather['weather_description'] == "clear sky" %}
                                        <i class="fas fa-sun"></i>
                                        <br>Ensoleillé
                                    {% endif %}
                                    {% if currentWeather['weather_description'] == "shower rain" %}
                                        <i class="fas fa-cloud-sun-rain"></i>
                                        <br>Averses de pluie
                                    {% endif %}
                                </td>
                                <td>{{ currentWeather['rain_1h'] }}</td>
                                <td>{{ currentWeather['rain_3h'] }}</td>
                                <td>{{ currentWeather['humidity'] }}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row prevision">
            <div class="col-12 text-center">
                <h3 class="title title-12">{{ "Prévisions Météo" | upper}}</h3>

                <nav class="col-12">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        {% for date,forecastData in weatherForecast %}
                            {% if date is not same as("Aujourd'hui") %}
                                <a class="day nav-link" id="nav-{{ date [:2] }}-tab" data-toggle="tab" href="#nav-{{ date [:2] }}" role="tab" aria-controls="{{ date [:2] }}" aria-selected="false">{{ date }}</a>
                            {% else %}
                                <a class="day nav-link active" id="nav-{{ date [:2] }}-tab" data-toggle="tab" href="#nav-{{ date [:2] }}" role="tab" aria-controls="{{ date [:2] }}" aria-selected="true">{{ date }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    {% for date,forecastData in weatherForecast %}
                    {% if date is not same as("Aujourd'hui") %}
                    <div class="col-12 tab-pane fade" id="nav-{{ date [:2] }}" role="tabpanel" aria-labelledby="nav-{{ date [:2] }}-tab">
                        {% else %}
                        <div class="col-12 tab-pane fade show active" id="nav-{{ date [:2] }}" role="tabpanel" aria-labelledby="nav-{{ date [:2] }}-tab">
                            {% endif %}
                            <div class="row d-flex justify-content-around mt-2 mb-3" id="{{ date }}">
                                {% for time,forecast in forecastData %}
                                    <div class="col mt-0 mb-0">
                                        <div class="card card-body meteoPrevCard">
                                            {% if forecast.weather.conditions is defined and forecast.weather.fontawsome is defined  %}
                                                <div>{{ time }}</div>
                                                <div>{{ forecast.weather.fontawsome | raw}} : {{ forecast.weather.conditions }}</div>
                                                <div>{{ forecast.main.temp }}°C</div>
                                            {% else %}
                                                Absence de données
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row plots">
            <div class="col-12 text-center">

                <h3 class="title title-12">{{ "Vos parcelles" | upper}}</h3>
                <div class="col-12 text-center">
                    <a href="{{ path('plot_create') }}" class="btn btn-warning">
                        Ajouter une parcelle
                    </a>
                </div>
                <div id="gardenPlotContainer">
                    <div class="row">
                        {% for i, plot in garden.plots %}
                            <div class="col">
                                <div class="card gardenPlot mx-auto" style="background-image: url('{{ asset('assets/texture/soiltypes/' ~ plot.soiltype.code ~ '.png') }}');">
                                    <div class="card-body" style="">
                                        <small class="plotName">{{ plot.name }}</small>
                                        <div class="plantCount">{{ plot.specimens|length }} <i class="fas fa-spa text-success"></i></div>
                                        <span class="plotSunExpType badge" data-code="{{ plot.sunExposureType.code }}">Exposition {{ plot.sunExposureType.name }}</span>
                                        <span class="plantSoilType badge badge-dark">{{ plot.soilType.name }}</span>
                                        <div class="plotInfos d-flex">
                                            <div class="container text-center">
                                                <button class="btn btn-sm btn-primary seeSpecimensBtn" data-plot-id="{{ plot.id }}">Voir mes plantes</button>
                                            </div>
                                            <div class="container text-center">
                                                <a id="editPlot" href="{{ path('plot_edit', { 'id': plot.id }) }}" class="btn btn-sm btn-primary">
                                                    Modifier
                                                </a>
                                            </div>
                                            <div>
                                                <a id="deletePlot" href="{{ path('plot_delete', { 'id': plot.id }) }}" class="btn btn-sm btn-primary">
                                                    Supprimer
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .gardenPlot {
            margin-top: 5px;
            margin-bottom: 5px;
            min-height:250px;
            min-width:275px;
            max-width:350px;
            max-height:30vh;
            background-repeat: repeat;
            color: #f1f1f1;
        }

        .plantCount {
            position:absolute;
            top: 5px;
            right: 5px;
        }

        .plotName {
            position:absolute;
            top: 3px;
            left: 5px;
        }

        .plotSunExpType {
            position:absolute;
            bottom: 5px;
            right: 5px;
        }

        .plantSoilType {
            position:absolute;
            bottom: 5px;
            left: 5px;
        }

        .plotInfos {
            position: absolute;
            top: 30px;

            width: calc(100% - 40px);
            max-height:190px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .plotInfos::-webkit-scrollbar {
            width: 4px;
        }

        .plotInfos::-webkit-scrollbar-track {
            border-radius: 4px;
        }

        .plotInfos::-webkit-scrollbar-thumb {
            background: orange;
            border-radius: 2px;
            height: 8px;
        }
        .garden-infos{
            background: url("{{ asset('assets/images/dirt.jpg')}}") no-repeat;
            max-height: 220px;
        }
        .tab{
            margin-top: 5%;
            background-color: #e3e3e3;
            border-radius: 0.25rem;
            width: 100%;
        }
        .title{
            color: white;
            background-color: rgba(0,0,0, 0.8);
            border-radius: 5px;
        }
        .title-6{
            margin-top: 1%;
            padding: 1%;
        }
        .title-12{
            margin-top: 0.5%;
            padding: 0.5%;
        }
        .add-plant-button{
            margin-top: 2.25% !important;
            margin-bottom: 2% !important;
        }
        .meteo{
            background: url("{{ asset('assets/images/sky.jpg')}}") no-repeat;
            max-height: 220px;
        }
        .prevision{
            background: url("{{ asset('assets/images/previsions.jpg') }}") no-repeat;
            max-height: 206px;
        }
        .meteoPrevCard{
            background-color: rgba(200,200,200,0.9);
            border: black solid 1px;
            max-height: 81px;
            padding: 0;
        }
        .day{
            color: white;
        }
        .day:hover{
            color: black;
        }
        .backgroud{
            background: rgb(200,200,200);
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <script src="{{ asset('assets/js/chartUtil.js') }}"></script>
    <script>
        var modalShown = 0;

        $(document).on('hidden.bs.modal', () =>{
            $('#modal').remove();
            $('script[role="modal-script"]').remove();
            modalShown = 0;
        });

        $(".seeSpecimensBtn").on('click', (event) => {
            if(modalShown) {
                event.stopPropagation();
                return;
            }
            modalShown = 1;
            let route = "{{ path('plot', {'id': 'XXX' }) }}";
                route = route.replace('XXX', event.target.getAttribute('data-plot-id'));

            $.get(route, {

            }, (modal) => {
                $('body').append(modal);
                $('#modal').modal({
                    backdrop: 'static',
                    keyboard: true
                });
            });
        });

        $.each($('.plotSunExpType'), (i, el) => {
            switch (el.getAttribute('data-code')) {
                case 'sun':
                    el.classList.add('badge-light');
                    break;
                case 'half-sun':
                    el.classList.add('badge-warning');
                    break;
                case 'shadow':
                    el.classList.add('badge-secondary');
                    break;
            }
        });
    </script>
{% endblock %}
