{% block body %}
    {% for garden in gardens %}
        <div class="row" style="margin-top:1em;">
            <div class="card w-100" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ garden.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ garden.country.name }} : {{ garden.length * garden.height }} parcelles</h6>
                    <p class="card-text">TODO afficher les dernières alertes du jardin (étapes de la vie des plantes, actions requises), infos (nombre de plantes, météo...) </p>
                    <a id="editGarden" data-garden-id="{{ garden.id }}" class="btn btn-sm btn-warning">Paramètres</a>
                    <a href="{{ path('garden', {'id': garden.id }) }}" class="btn btn-sm btn-primary">Aller au jardin</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}

{% endblock %}