{% block body %}
    <div class="container">
        <div class="card plotParamsCard cw-100">
            <button class="btn btn-warning w-100" type="button" data-toggle="collapse" data-target="#collapsePlotParams" aria-expanded="false" aria-controls="collapsePlotParams">
                Paramètres de la parcelle
            </button>
            <div class="collapse" id="collapsePlotParams">
                TODO plot params form
            </div>
        </div>
        <button class="btn btn-primary w-100" type="button" data-toggle="collapse" data-target="#collapseSpecimens" aria-expanded="false" aria-controls="collapseSpecimens">
            <div class="container">
                Vos spécimens plantés
            </div>
        </button>
        <div class="collapse" id="collapseSpecimens">
            {% for specimen in plot.specimens %}
                <div class="card specimenCard" data-fertilizer-id="{{ specimen.fertilizer is same as(null) ? 0: specimen.fertilizer.id }}">
                    <div class="media">
                        <img src="{{ asset('assets/images/plants/' ~ specimen.plant.picturePath) }}" width="200" class="rounded align-self-center mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="plantName">{{ specimen.plant.name }}</h5>
                            <em>Planté(e) le {{ specimen.plantationDate|date('d/m/Y à H:i') }}</em>
                            {% if specimen.lastWateredDate is not same as(null) %}
                                <small>Arrosé(e) le <i>{{ specimen.lastWateredDate|date('d/m/Y à H:i') }}</i></small>
                            {% endif %}
                            {% if specimen.lastFertilizedDate is not same as(null) %}
                                <small>Fertilisé(e) le <i>{{ specimen.lastFertilizedDate|date('d/m/Y à H:i') }}</i></small>
                            {% endif %}
                            <div class="container">
                                <button class="btn btn-primary btn-sm actionButton" data-href="{{ path('specimen_waterize', {'id': specimen.id}) }}">Arrosage</button>
                                <button class="btn btn-warning btn-sm actionButton fertilize" data-href="{{ path('specimen_fertilize', {'id': specimen.id}) }}" data-formpath="{{ path('specimen_fertilizer_form', {id: specimen.id}) }}">Mettre de l'engrais</button>
                                <button class="btn btn-danger btn-sm actionButton" data-href="{{ path('specimen_go_to_next_life_cycle_step', {'id': specimen.id}) }}">Etape de cycle de vie suivante</button>

                                <button class="btn btn-sm btn-secondary collapseSpecimenLogsBtn" type="button" data-toggle="collapse" data-target="#collapseSpecimenLogs-{{ specimen.id }}" aria-expanded="false" aria-controls="collapseSpecimenLogs-{{ specimen.id }}">
                                    Cycle de vie
                                </button>
                                <ul class="list-group">
                                    <div class="row">
                                        <canvas class="specimenLifeChart" id="specimenLifeChart-{{ specimen.id }}" data-specimen-id="{{ specimen.id }}" width="100%" height="50vh"></canvas>
                                        <br>
                                    </div>
                                    <div class="row">
                                        {% for result in specimen.specimenLifeResults %}
                                            {#{{ dump(result) }}#}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <div class="collapse collapseSpecimenLogs" id="collapseSpecimenLogs-{{ specimen.id }}">
                                    <ul class="list-group">
                                        {% for log in specimen.logs %}
                                            {% if log.eventAction == "Next Life Cycle Step" or log.eventAction == "Set Specific Life Cycle Step" %}
                                                <li class="list-group-item" data-action="{{ log.eventAction }}"><small>{{ log.eventDate|date('d/m/Y à H:i') }} - {{ log.eventMessage }}</small></li>
                                            {% endif %}
                                            {% if log.eventAction == "Waterize" and log.eventDate == specimen.lastWateredDate %}
                                                <li class="list-group-item" data-action="{{ log.eventAction }}"><small>{{ log.eventDate|date('d/m/Y à H:i') }} - {{ log.eventMessage }}</small></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style type="text/css" href="{{ asset('assets/css/chartUtil.css') }}"></style>
    <style>
        .specimenCard {
            margin-top:10px;
            margin-bottom: 5px;
        }

        .collapseSpecimenLogsBtn {
            margin-top:15px;
            margin-bottom:15px;
        }

        .collapseSpecimenLogs {
            margin-bottom:15px;
        }

        .plotParamsCard {
            margin-bottom: 15px;
        }

        .modal-body {
            background-image: url('{{ asset('assets/texture/soiltypes/' ~ plot.soiltype.code ~ '.png') }}');
        }

        .plantName {
            margin-top:2rem;
        }

    </style>

{% endblock %}

{% block javascripts %}
    <script>
        var config = [];
        var ctx = [];
        var charts = [];
        var specChartData = [];
        var dataURL = '{{ path('specimen_get_life_result', {id: "XXX"}) }}';

        $('.actionButton').on('click', (event) => {
            if(event.target.classList.contains('fertilize')) {
                if($(event.target).parents('.specimenCard').attr('data-fertilizer-id') > 0) {
                    $.get(event.target.getAttribute('data-href'));
                } else {
                    $.get(event.target.getAttribute('data-formpath'), (view) => {
                        $(event.target).after(view);
                    });
                }
            } else $.get(event.target.getAttribute('data-href'));
        });

        $('.specimenLifeChart').each((i, el) => {
            var specimenId = el.getAttribute('data-specimen-id');

            $.get(dataURL.replace('XXX', specimenId), (data) => {
                console.log(data);
                var getChartData = (type) => {
                    let res = [];
                    for(let result of data.values()){
                        let timestamp = Object.getOwnPropertyNames(result)[0];
                        let date = new Date(parseInt(timestamp) * 1000);
                        if(type == 'dates') {
                            res.push([pad(date.getDate()), pad(date.getMonth()+1), date.getFullYear()].join('/'));
                        } else res.push(result[timestamp][type]);
                        if(res.length == 10) return res;
                    }
                    return res;
                };

                config[specimenId] = {
                    type: 'line',
                    data: {
                        labels: getChartData('dates'),
                        datasets: [{
                            label: 'Apport en eau',
                            backgroundColor: window.chartColors.blue,
                            borderColor: window.chartColors.blue,
                            data: getChartData('waterEfficiency'),
                            fill: false,
                        }, {
                            label: 'Apport en engrais',
                            fill: false,
                            backgroundColor: window.chartColors.purple,
                            borderColor: window.chartColors.purple,
                            data: getChartData('fertilizerEfficiency'),
                        }, {
                            label: 'Type de sol',
                            fill: false,
                            backgroundColor: window.chartColors.brown,
                            borderColor: window.chartColors.brown,
                            data: getChartData('soilEfficiency'),
                        }, {
                            label: 'Exposition au soleil',
                            fill: false,
                            backgroundColor: window.chartColors.orange,
                            borderColor: window.chartColors.orange,
                            data: getChartData('sunExposureEfficiency'),
                        }, {
                    label: 'Optimisation globale',
                        fill: false,
                        backgroundColor: window.chartColors.red,
                        borderColor: window.chartColors.red,
                        data: getChartData('totalEfficiency'),
                }]
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Suivi d\'évolution de votre plante'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Date'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Optimisation (%)'
                                }
                            }]
                        }
                    }
                };
                ctx[specimenId] = document.getElementById('specimenLifeChart-' + specimenId).getContext('2d');
                charts[specimenId] = new Chart(ctx[specimenId], config[specimenId]);
            });
        });
    </script>
{% endblock %}