{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    welcome {{ app.user.firstName }}

    <button id="addGarden" class="btn btn-warning">
        Ajouter un jardin
    </button>
    <hr>
    <h1>Vos jardins</h1>
    <div class="container">
        {% for garden in app.user.gardens %}
            <div class="row" style="margin-top:1em;">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ garden.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ garden.country.name }} : {{ garden.length * garden.height }} parcelles</h6>
                        <p class="card-text">TODO afficher les dernières alertes du jardin (étapes de la vie des plantes, actions requises), infos (nombre de plantes, météo...) </p>
                        <a id="editGarden" data-garden-id="{{ garden.id }}" class="card-link">Paramètres</a>
                        <a href="{{ path('garden', {'id': garden.id }) }}" class="card-link">Aller au jardin</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/formUtil.js') }}" role="form-util"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script>
        var modalShown = 0;

        $(document).on('hidden.bs.modal', () =>{
            $('#modal').remove();
            $('script[role="modal-script"]').remove();
            modalShown = 0;
        });


        $("#addGarden, #editGarden").on('click', (event) => {
            console.log(modalShown);

            if(modalShown) {
                event.stopPropagation();
                return;
            }
            modalShown = 1;
            let route = '';
            if(event.target.getAttribute('id') == 'editGarden') {
                route = "{{ path('garden_edit', {'id': 'XXX' }) }}";
                route = route.replace('XXX', event.target.getAttribute('data-garden-id'));
            } else {
                route = '{{ path("garden_create") }}';
            }

            $.post(route, {

            }, (modal) => {
                $('body').append(modal);
                $('#modal').modal({
                    backdrop: 'static',
                    keyboard: true
                });
            });
        });
    </script>
{% endblock %}