{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h2>Register</h2>

    {{ form_start(registrationForm) }}
    <div width="50%">
        <div class="form-group">
            {{ form_row(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group" align="left">
            {{ form_row(registrationForm.wantFeedBack, {'attr': {'class': 'form-control', 'checked': true}}) }}
        </div>

        <div class="form-group" id="daysBetweenFeedback">
            {{ form_row(registrationForm.days_between_feedback, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(registrationForm.plainPassword['first'], {'attr': {'class': 'form-control'}}) }}
        </div>


        <div class="form-group">
            {{ form_row(registrationForm.plainPassword['second'], {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(registrationForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    </div>
        {{ form_rest(registrationForm) }}
    {{ form_end(registrationForm) }}
    <h2>or <a href="{{ path('login') }}">Sign in</a></h2>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#registration_form_wantFeedBack').change(function(){

                if ($('#registration_form_wantFeedBack').prop('checked'))
                {
                    $('#daysBetweenFeedback').fadeIn('slow');
                }
                else
                {
                    $('#daysBetweenFeedback').fadeOut('slow');
                }
            });
        });
    </script>
{% endblock %}
