{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword['first'], {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword['second'], {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.save, {'attr': {'class': 'btn btn-success'}}) }}
        {{ form_rest(registrationForm) }}
    {{ form_end(registrationForm) }}
    <h2>or <a href="{{ path('login') }}">Sign in</a></h2>
{% endblock %}
